*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0;
    background:url("../img/1626265529_14-kartinkin-com-p-poloski-tekstura-besshovnaya-krasivo-18.jpg");
    background-size: cover;
}
ul{
    margin: 0;
    padding: 0;
}
a, a:active, a:hover{
    text-decoration: none;
    color: white;
}
main{
    position: relative;
    width: 80vw;
    /*height: 100vh;*/
    margin: 0 10vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    padding: 10px 0;


}
 h2{

     padding: 10px;
     height: 50px;
     width: 78vw;
     margin: 0 10vw;
    /*width: 99%;*/
    /*border-style: solid;*/
    border-right: 5px  solid #fa7405;
    background-color: white;
}
/*main>h2{*/
/*    position: absolute;*/
/*    top:0;*/
/*}*/

aside{
    /*border: #282828 solid 1px ;*/
    border-radius: 10px;
    box-shadow:  0 0 5px 2px rgba(122,122,122,0.5);
    width: 29%;
    height:  100px;
    display: grid;
    grid-template: repeat(3,calc(100%/3))/ repeat(2,calc(100%/2));
    grid-template-areas: " title title "
    " tov-name tov-kol "
    " itog itog-price ";
}
#title{
    text-align: center;
    grid-area: title;
}
#tov-name{
    text-align: center;
    grid-area: tov-name;
}
#tov-kol{
    text-align: center;
    grid-area: tov-kol;
}
#itog{
    text-align: center;
    grid-area: itog;
}
#itog-price{
    text-align: center;
    grid-area: itog-price;
}
section{
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: #282828 solid 1px ;*/
    /*border-radius: 10px;*/
    gap: 10px;
    /*padding: 10px;*/

}
article{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow:  0 0 5px 2px rgba(122,122,122,0.5);
    border-left: #cc5e03 solid 10px;
    border-radius: 10px;
}
.img-cont{
    width: 60px;
    height: 100px;
}
img{
    width: 100%;
    height: 100%;
}

 main form{
    margin: 20px 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*border: #282828 solid 1px;*/
    border-radius: 10px;
    box-shadow:  0 0 5px 2px rgba(40,40,40,0.5);
    padding: 5px;
}

.adres-cont{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
 main form input{
    width: 60%;
    border-radius: 3px;

    border: rgba(40, 40, 40, 0.56) solid 1px;
}
h3, .adres-cont, #ul{
    width: 99%;
}
@media screen and (max-width: 550px){
    main{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-areas:
        " h1 "
        " h2 "
        " h3 "
    ;
        justify-items: center;
    }
    h2{
        padding: 10px 3px;
    }
    aside{
        grid-area: h3;
        width: 90%;
    }
    section{
        width: 90%;

    }
    article{
        flex-wrap: wrap;
    }
     main form{
        width: 90%;
        margin: 20px 0px;
         padding: 5px 0px;
         align-items: center;
    }
    .adres-cont{
        flex-direction: column;
        align-items: center;

    }
    #ul{
        width: 96%;
    }
    .adres-cont input{
        width: 96%;
    }
    main form input{
        width: 96%;
    }
    article .img-cont{
        width: 90%;
    }
    .img-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .img-cont img{
        object-fit: contain;
    }
}